.custom-swiper-pagination .swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	background-color: red;
	opacity: 1;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
	background-color: darkred;
}
.testimonial-slider .slick-next,
.testimonial-slider .slick-prev {
	background: white;
	color: black;
	border-radius: 50%;
	padding: 10px;
	font-size: 16px;
}

.testimonial-content {
	background: #000;
	color: #fff;
	border-radius: 10px;
	padding: 30px;
}

.testimonial-slider .slick-dots li button:before {
	color: white; /* Change dot color */
}
